svg {
	margin: 10px;
	margin-left: 55px;
}

.highlight {
	fill: green;
}

.dim {
    fill: green;
}

.axis path{
    stroke: #cccccc;
}

line {
    stroke: #cccccc;
}


text {
    font-size: 12px;
}

text.team{
    font-size: 11px;
}


.hide {
    display: none;
}
